[submodule "Kernel/third_party/spdlog"]
	path = Kernel/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Kernel/third_party/debugbreak"]
	path = Kernel/third_party/debugbreak
	url = https://github.com/scottt/debugbreak
[submodule "Kernel/third_party/glfw"]
	path = Kernel/third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "Kernel/third_party/imgui"]
	path = Kernel/third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "Kernel/third_party/glm"]
	path = Kernel/third_party/glm
	url = https://github.com/g-truc/glm
