[submodule "Kernel/third_party/spdlog"]
	path = Kernel/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Kernel/third_party/debugbreak"]
	path = Kernel/third_party/debugbreak
	url = https://github.com/scottt/debugbreak
[submodule "Kernel/third_party/glfw"]
	path = Kernel/third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "Kernel/third_party/imgui"]
	path = Kernel/third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "Kernel/third_party/glm"]
	path = Kernel/third_party/glm
	url = https://github.com/g-truc/glm
[submodule "Kernel/third_party/stb"]
	path = Kernel/third_party/stb
	url = https://github.com/nothings/stb
[submodule "Kernel/third_party/entt"]
	path = Kernel/third_party/entt
	url = https://github.com/skypjack/entt
[submodule "Kernel/third_party/tinyxml2"]
	path = Kernel/third_party/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "Kernel/third_party/ImGuizmo"]
	path = Kernel/third_party/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "Kernel/third_party/xxHash"]
	path = Kernel/third_party/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "Kernel/third_party/tinyobjloader"]
	path = Kernel/third_party/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
