[submodule "Kernel/third_party/spdlog"]
	path = Kernel/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Kernel/third_party/debugbreak"]
	path = Kernel/third_party/debugbreak
	url = https://github.com/scottt/debugbreak
